@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar untuk tampilan Enterprise */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(245, 158, 11, 0.3); /* Warna Amber 500 redup */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(245, 158, 11, 0.6);
}

/* Sembunyikan scrollbar bawaan pada menu kategori agar rapi */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* Untuk browser IE dan Edge */
    scrollbar-width: none;  /* Untuk browser Firefox */
}
